/node_modules
/public/hot
/public/assets
/public/storage
/storage/*.key
/storage/logs
/storage/*.logs
/config/database.php
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.bak
app/Http/Controllers/Admin/StudentController.php.bak
*.log